{
	"root": true,
	"parser": "babel-eslint",
	"extends": "standard",
	"ecmaFeatures": {
		"arrowFunctions": 1
	},
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"rules": {
		"indent": ["error", 4,  { "SwitchCase": 1, "FunctionDeclaration": {"body": 1}}],
		"semi": [2, "always"],
		"no-eval": 0,
		"no-new-func": 0,
		"no-cond-assign": 0,
		"no-caller": 0,
		"camelcase": 0,
		"eol-last": 0,
		"eqeqeq": 0,
		"no-tabs": 1,
		"quotes": 0,
		"wrap-iife": 0,
		"no-unused-vars": 0,
		"no-throw-literal": 0,
		"no-unreachable": 0,
		"one-var": 0,
		"yoda": 0,
		"space-before-function-paren": 0,
		"no-extend-native": ["error", {
			"exceptions": ["Object", "Date", "String", "Array", "Function"]
		}],
		"no-unneeded-ternary": ["error", {
			"defaultAssignment": false
		}],
		"arrow-parens": 0
	}
}
